<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Spring boot文件上传Demo</h1>

	<form method="post" action="/fileUpload" enctype="multipart/form-data">
		<input type="file" name="file" /><br /> <br /> 
		<input type="submit" value="上传" />
	</form>
	<form method="post" action="/filesUpload" enctype="multipart/form-data">
		<input type="file" name="file1" /><br /> <br /> 
		<input type="file" name="file2" /><br /> <br /> 
		<input type="file" name="file3" /><br /> <br /> 
		<input type="file" name="file4" /><br /> <br /> 
		<input type="file" name="file5" /><br /> <br /> 
		<input type="file" name="file6" /><br /> <br /> 
		<input type="submit" value="上传" />
	</form>

</body>
</html>